<h1>Generalized Linear Models</h1>

<p>To analyze dichotomous traits, we used Generalized Linear Models (GLMs). The
outcomes were modeled using a binomial distribution and the logit link function
was used resulting in the following model:</p>

<p>
\[ \mathbb{E}(Y)=\mu=g^{-1}(\bf{X}\beta) \]
</p>

<p>Where <em>Y</em> is the outcome (<em>e.g.</em> disease), <em>g</em> is a
link function, <strong>X</strong> is a design matrix containing genotypes using
additive coding and &beta; is a vector of paremeters.</p>

<h2>Variables</h2>

<p>A summary of the variables considered for this analysis is shown in
<a href="#table1">Table 1</a>. We did not exclude variables based on prevalence
in our discovery cohort, but the analysis of rare outcomes is likely to lack
the power needed for statistical replication. This analysis included a total
of {{ variables|length }} dichotomous outcomes.
</p>

<p class="caption">
  <a name="table1"></a><strong>Table 1.</strong> Summary of the different
  variables for this GLM analysis.
</p>
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th><em>n</em> cases</th>
      <th><em>n</em> controls</th>
      <th><em>n</em> missing</th>
      <th>prevalence</th>
    </tr>
  </thead>
  <tbody>
    {% for variable in variables %}
    <tr>
      <td>{{ variable.name }}</td>
      <td>{{ variable.n_cases }}</td>
      <td>{{ variable.n_controls }}</td>
      <td>{{ variable.n_missing }}</td>
      <td>{{ "%0.3f" | format(variable.prevalence|float) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p class="caption">
  <a name="figure1"></a><strong>Figure 1.</strong> Correlation plot of the
  different variables. When two phenotypes are highly correlated, it is best
  to exclude from controls individuals that are affected with the other
  phenotype.
</p>
<img src="{{ assets }}/{{ corrplot }}" />

<h2>Genetic variants</h2>

<p>After filtering, this analysis was done on {{ num_variants }} genetic
variants. A QQ plot of all the analysis p-values can be found at Figure X.</p>

<img src="{{ assets }}/{{ qq_plot }}" />
