<h1>Generalized Linear Models</h1>

<p>To analyze dichotomous traits, we used Generalized Linear Models (GLMs). The
outcomes were modeled using a binomial distribution and the logit link function
was used resulting in the following model:</p>

<p>
\[ \mathbb{E}(Y)=\mu=g^{-1}(\bf{X}\beta) \]
</p>

<p>Where <em>Y</em> is the outcome (<em>e.g.</em> disease), <em>g</em> is a
link function, <strong>X</strong> is a design matrix containing genotypes using
additive coding and &beta; is a vector of paremeters.</p>
