/* Resets */
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 10pt;
    font-weight: 200;
}

/* Structure */
#wrapper {
    width: 8.4in;
    padding: 0.5in;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 5px #ccc;
}

#github {
    float: right;
    margin: -20px -10px 0 0;
}

.section {
    margin-bottom: 70px;
}

#footer {
    width: 100%;
    height: 30px;
    background-color: #781B1F;
    color: #fff;
}

#footer p {
    line-height: 30px;
    margin: 0 20px;
}

/* UI Components */
.close-figure {
    display: block;
    float: right;
    font-size: 16pt;
}

/* Design */
body {
    background-color: #F3F3F3;
}

code {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #eee;
    padding: 1px 2px;
}

img.figure {
    width: 500px;
    margin: 0 auto;
    display: block;
}

p.caption {
    margin: 15px 30px 3px 30px;
}

.centered-bokeh-plot {
    width: 600px;
    margin: 0 auto;
}

/* Bokeh tooltips */
.bk-tooltip-custom {
    background-color: #eee !important;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px #444;
}

.tooltip p {
    font-family: Time, Cambria, serif;
    font-size: 9pt;
    margin: 0;
    padding: 0;
    color: #781B1F;
}

.tooltip p strong {
    font-size: 8pt;
}

.button {
    display: inline-block;
    padding: 0 5px;
    font-size: 9pt;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal {
    width: 800px;
	position: fixed;
    top: 20%;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #eee;
    z-index: 1001;
}

.modal .close {
    display: block;
    float: right;
    font-size: 23px;
}

.modal h2 {
    clear: both;
}

.modal fieldset {
  padding: 1em;
  font-size: 9pt;
  border: 1px solid black;
  margin-bottom: 20px;
}

.modal legend {
    font-size: 9pt;
    width: unset;
    text-decoration: none;
    padding: 0 5px;
    border: none;
    margin: 0;
}

.modal input[type="checkbox"] {
    margin: 3px;
    display: inline-block;
}

.modal label {
    font-weight: 400;
    display: inline-block;
}

.plot-form label {
    margin-right: 20px;
}

/* Table Design */
table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    width: 90%;
    margin: 0 auto;
}

th {
    border-top: 1px solid black;
    border-bottom: 4px double black;
    height: 30px;
    font-weight: bold;
}
th span, th em {
    font-weight: bold;
}

td {
    height: 25px;
}

tbody tr:hover {
    background-color: #ddd;
}

.bk-plot-wrapper table tr:hover {
    background-color: #fff;
}

.bk-plot-wrapper table {
    border-bottom: none;
}

/* Fonts */
h1 {
    font-family: Georgia, serif;
    font-size: 16pt;
    color: #781B1F;
    font-weight: 100;
    margin-bottom: 5px;
}

h2 {
    font-size: 14pt;
    margin-bottom: 5px;
}

h3 {
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 5px;
}

p, p span.fwdinfo {
    font-family: Calibri, Arial, sans-serif;
    font-size: 11pt;
    text-align: justify;
    line-height: 15pt;
    margin-bottom: 20px;
}

a {
    color: #781B1F;
}

strong {
    font-weight: bold;
}

/* Print */
@media print {

    #wrapper {
        box-shadow: none;
    }

    body {
        background-color: #fff;
    }

}
