/* Custom */
.pygments-highlighttable, .pygments-highlighttable tr {
  border: none;
}

.pygments-highlighttable tr:hover {
  background: none;
}

/* Default */
.pygments-highlight .hll { background-color: #ffffcc }
.pygments-highlight  { background: #f8f8f8; }
.pygments-highlight .c { color: #408080; font-style: italic } /* Comment */
.pygments-highlight .err { border: 1px solid #FF0000 } /* Error */
.pygments-highlight .k { color: #008000; font-weight: bold } /* Keyword */
.pygments-highlight .o { color: #666666 } /* Operator */
.pygments-highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.pygments-highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.pygments-highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.pygments-highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.pygments-highlight .gd { color: #A00000 } /* Generic.Deleted */
.pygments-highlight .ge { font-style: italic } /* Generic.Emph */
.pygments-highlight .gr { color: #FF0000 } /* Generic.Error */
.pygments-highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pygments-highlight .gi { color: #00A000 } /* Generic.Inserted */
.pygments-highlight .go { color: #888888 } /* Generic.Output */
.pygments-highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.pygments-highlight .gs { font-weight: bold } /* Generic.Strong */
.pygments-highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pygments-highlight .gt { color: #0044DD } /* Generic.Traceback */
.pygments-highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.pygments-highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.pygments-highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.pygments-highlight .kp { color: #008000 } /* Keyword.Pseudo */
.pygments-highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.pygments-highlight .kt { color: #B00040 } /* Keyword.Type */
.pygments-highlight .m { color: #666666 } /* Literal.Number */
.pygments-highlight .s { color: #BA2121 } /* Literal.String */
.pygments-highlight .na { color: #7D9029 } /* Name.Attribute */
.pygments-highlight .nb { color: #008000 } /* Name.Builtin */
.pygments-highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.pygments-highlight .no { color: #880000 } /* Name.Constant */
.pygments-highlight .nd { color: #AA22FF } /* Name.Decorator */
.pygments-highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.pygments-highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.pygments-highlight .nf { color: #0000FF } /* Name.Function */
.pygments-highlight .nl { color: #A0A000 } /* Name.Label */
.pygments-highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.pygments-highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.pygments-highlight .nv { color: #19177C } /* Name.Variable */
.pygments-highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.pygments-highlight .w { color: #bbbbbb } /* Text.Whitespace */
.pygments-highlight .mb { color: #666666 } /* Literal.Number.Bin */
.pygments-highlight .mf { color: #666666 } /* Literal.Number.Float */
.pygments-highlight .mh { color: #666666 } /* Literal.Number.Hex */
.pygments-highlight .mi { color: #666666 } /* Literal.Number.Integer */
.pygments-highlight .mo { color: #666666 } /* Literal.Number.Oct */
.pygments-highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.pygments-highlight .sc { color: #BA2121 } /* Literal.String.Char */
.pygments-highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.pygments-highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.pygments-highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.pygments-highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.pygments-highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.pygments-highlight .sx { color: #008000 } /* Literal.String.Other */
.pygments-highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.pygments-highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.pygments-highlight .ss { color: #19177C } /* Literal.String.Symbol */
.pygments-highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.pygments-highlight .vc { color: #19177C } /* Name.Variable.Class */
.pygments-highlight .vg { color: #19177C } /* Name.Variable.Global */
.pygments-highlight .vi { color: #19177C } /* Name.Variable.Instance */
.pygments-highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
